<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Trading</title>
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
		<link rel="icon" href="/images/.png" type="image/png" sizes="24x24">
		<!-- Bootstrap 4 CDN link -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<!-- Bootstrap 4 Files -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  
		<!-- font awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<!-- responsive navbar-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--____________________________________google font___________________________________________________________-->     
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
		<style>
			.topnav {
			overflow: hidden;
			}
			.topnav a {
			float: left;
			display: block;
			color: #fff;
			text-align: center;
			padding: 10px 0;
			text-decoration: none;
			font-size: 17px;
			font-family: 'Raleway', sans-serif;
			font-weight: 400;
			width: 33.3%;
			}
			.topnav a:hover {
			color: #fff;
			border-bottom: 2px solid #fff;
			transition: 0.2s;
			}
			.topnav a.active {
			color: #2cd392;
			border-bottom: 2px solid;
			}
			.dashboard_topnav a{
			float: left;
			display: block;
			color: #000;
			text-align: center;
			padding: 0 0 16px 0;
			text-decoration: none;
			font-size: 14px;
			font-family: 'Raleway', sans-serif;
			font-weight: 500;
			width: auto;
			margin-right: 21px;
			}
			.dashboard_topnav a:nth-child(7){
			margin-right: 0 !important;
			}
			.dashboard_topnav a:hover {
			color: #002E71;
			border-bottom: 2px solid #002E71;
			transition: 0.2s;
			}
			.dashboard_topnav a.active {
			color: #002E71;
			border-bottom: 2px solid #002E71;
			}
			.topnav .icon {
			display: none;
			}
			@media screen and (max-width: 768px) {
			.topnav a:not(:first-child) {display: none;}
			.topnav a.icon {
			float: right;
			display: block;
			}
			}
			@media screen and (max-width: 768px) {
			.topnav.responsive {position: relative;}
			.topnav.responsive .icon {
			position: absolute;
			right: 0;
			top: 0;
			}
			.topnav.responsive a {
			float: none;
			display: block;
			text-align: left;
			}
			}
		</style>
	</head>
	<body>