<%- include("partials/header") %>

<div class="embed-responsive embed-responsive-16by9">
    <iframe src="<%= url %>" title="Google" width="80%" height="250px"></iframe>
</div>

<%- include("partials/footer") %>    