<%- include("partials/header") %>
        
        
    <div class="container-fluid dashboard_top_bar" style="padding-right: 15px !important;padding-left: 15px !important;">
    <div class="row">
    <div class="col-md-4 left_status_bar">
    <h2>NIFTY 50   <span>14566.55</span>   0.85 %</h2>
    <h2>SENSEX  <span>14566.55</span>   0.85 %</h2>
    </div>

    <div class="col-md-8">
    <div class="topnav dashboard_topnav" id="myTopnav">
        <a href="/dashboard">Dashboard</a>
        <a href="/holding">Holdings</a>
        <a href="/positions">Positions</a>
        <a href="/mutual_funds">Mutual Funds</a>
        <a href="/learning">Learning</a>
        <a href="/research_reports">Research Reports</a>
        <a href="/money">Money Mgt.</a>
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="right_top_icons">
    <a href="#"><img src="/images/download_icon.svg"/></a>
    <a href="#" class="notification_icon"><img src="/images/notification_icon.svg"/><span>1</span></a>
    <a href="/profile" class="profile_pic"><img src="/images/profile_pic.svg"/></a>
    </div>

    </div>	
    </div>
    </div>

    <div class="container-fluid" style="padding-right: 15px !important;padding-left: 15px !important;">
    <div class="row">
    <div class="col-md-4 dashboard_left_bar">

    <div class="dashboard_left_row_dat">
        <form class="secrch_bar">
            <i class="fas fa-search"></i> <input type="text" placeholder="Search eg. infy bse, nifty fut weekly, gold mcx ">
        </form>
    </div>

    <div class="dashboard_left_row_dat">
        <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
    </div>

    <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
        <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
    </div>

    <div class="dashboard_left_row_dat">
        <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
    </div>

    <div class="dashboard_left_row_dat">
        <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
    </div>
    <div class="dashboard_left_row_dat">
        <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
    </div>

    <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
        <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
    </div>

    <div class="dashboard_left_row_dat">
        <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
    </div>

    <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
        <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
    </div>

    <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
        <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
    </div>

    <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
        <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
    </div>

    <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
        <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
    </div>

    <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
        <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
    </div>
    </div>


    <div class="col-md-8 dashboard_right_bar">

            <div class="table_sec table_sec_profile">
                
                <div class="profile_half_sec_left">
                    <div class="serch_top_bar profile_half_sec">
                        <h2>Settings</h2>
                    </div>


                    <div class="settings_sec_half">
                        <div class="settings_sec_row">
                            <h6>Chart</h6> 
                            <span class="check_setting_area">
                                <span><input type="radio"/> <label>ChartIQ</label>  </span>
                                <span><input type="radio" checked/> <label>Trading View</label></span>
                            </span>
                        </div>

                        <div class="settings_sec_row">
                            <h6>Theme</h6> 

                            <span class="check_setting_area">
                                <span><input type="radio" checked/> <label>Default</label>  </span>
                                <span><input type="radio"/> <label>Dark</label></span>
                            </span>
                        </div>

                        <div class="settings_sec_row">
                            <h6 class="pt-1">Instant order updates</h6> 
                            <span>
                                <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                </label>
                            </span> 
                        </div>
                        
                    </div>
                    

                </div>

                <div class="profile_half_sec_left table_sec_profile_se">
                    <div class="serch_top_bar profile_half_sec ">
                        <h2>Sessions</h2>
                        <a href="#">Clear all</a>
                    </div>

                    <div class="settings_sec_row">
                        <li>Algo Logic</li>
                        <li>Kite web</li>
                        <li>Console</li>
                    </div>
                </div>
                
            </div>
        


        
    </div>
    </div>
    </div>

<%- include("partials/footer") %>
