<%- include("partials/footer") %>
        
        
    <div class="container-fluid dashboard_top_bar" style="padding-right: 15px !important;padding-left: 15px !important;">
    <div class="row">
        <div class="col-md-4 left_status_bar">
        <h2>NIFTY 50   <span>14566.55</span>   0.85 %</h2>
        <h2>SENSEX  <span>14566.55</span>   0.85 %</h2>
        </div>
        
        <div class="col-md-8">
        <div class="topnav dashboard_topnav" id="myTopnav">
            <a href="/dashboard">Dashboard</a>
            <a href="/">Holdings</a>
            <a href="/positions">Positions</a>
            <a href="/mutual_funds" class="active">Mutual Funds</a>
            <a href="/learning">Learning</a>
            <a href="/research_reports">Research Reports</a>
            <a href="/money">Money Mgt.</a>
            
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div class="right_top_icons">
        <a href="#"><img src="images/download_icon.svg"/></a>
        <a href="#" class="notification_icon"><img src="images/notification_icon.svg"/><span>1</span></a>
        <a href="/profile" class="profile_pic"><img src="images/profile_pic.svg"/></a>
        </div>

        </div>	
    </div>
    </div>

    <div class="container-fluid" style="padding-right: 15px !important;padding-left: 15px !important;">
    <div class="row">
    <div class="col-md-4 dashboard_left_bar">

        <div class="dashboard_left_row_dat">
            <form class="secrch_bar">
                <i class="fas fa-search"></i> <input type="text" placeholder="Search eg. infy bse, nifty fut weekly, gold mcx ">
            </form>
        </div>

        <div class="dashboard_left_row_dat">
            <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
        </div>

        <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
            <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
        </div>

        <div class="dashboard_left_row_dat">
            <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
        </div>

        <div class="dashboard_left_row_dat">
            <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
        </div>
        <div class="dashboard_left_row_dat">
            <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
        </div>

        <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
            <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
        </div>

        <div class="dashboard_left_row_dat">
            <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
        </div>

        <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
            <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
        </div>

        <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
            <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
        </div>

        <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
            <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
        </div>

        <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
            <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
        </div>

        <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
            <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
        </div>
    </div>


    <div class="col-md-8 dashboard_right_bar">
            

            <div class="table_sec table_sec_profile">

                <div class="mutual_top_bar_btns">
                    <p>Instant, zero-cost fund transfers with <img src="/images/upi.svg"/></p>

                    <span>
                        <a href="/funds_mutual-funds">Add Funds</a>
                        <a href="#" style="float: right;">Withdraw</a>
                    </span>
                </div>

                <div class="mutual_half">
                    <div class="dash_top mutual_half_sec">
                        <a href="#" style="margin-left: 0;"><img src="/images/equity.svg"/>Equity</a>
                        <a href="/statement_mutual-funds"><img src="/images/view_reports.svg"/>View Statements</a>
                        <a href="#"><img src="/images/help.svg"/>Help</a>
                    </div>

                    <div class="mutual_half_sec_left">
                        <div class="mutual_half_sec_left_toppart">
                            <h5>Available margin    <span>3,239.52</span></h5>
                            <h5>Used margin <span>118.81</span></h5>
                            <h5>Available cash  <span>3,239.52</span></h5>
                            
                        </div>
                            <h5>Opening balance <span>3,358.33</span></h5>
                            <h5>Payin <span>0.00</span></h5>
                            <h5>SPAN <span>0.00</span></h5>
                            <h5>Delivery margin <span>0.00</span></h5>
                            <h5>Exposure <span>0.00</span></h5>
                            <h5>Options premium <span>0.00</span></h5>
                    </div>
                </div>
                
                <div class="mutual_half mutual_half_sec">
                    <div class="dash_top">
                        <a href="#"><img src="/images/drop.svg"/>Commodity</a>
                        <a href="/statement_mutual-funds"><img src="/images/view_reports.svg"/>View Statements</a>
                        <a href="#"><img src="/images/help.svg"/>Help</a>
                    </div>

                    <div class="mutual_half_sec_right">
                        <img src="/images/anchor.svg" />
                        <p>You don't have a commodity account</p>
                        <a href="#">Open Account</a>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>

<%- include("partials/footer") %>
