<%- include("partials/header") %>
        
  <div class="container-fluid dashboard_top_bar" style="padding-right: 15px !important;padding-left: 15px !important;">
    <div class="row">
      <div class="col-md-4 left_status_bar">
          <h2>NIFTY 50   <span>14566.55</span>   0.85 %</h2>
          <h2>SENSEX  <span>14566.55</span>   0.85 %</h2>
        </div>
        
        <div class="col-md-8">
          <div class="topnav dashboard_topnav" id="myTopnav">
              <a href="/dashboard">Dashboard</a>
              <a href="/holdings">Holdings</a>
              <a href="/positions" class="active">Positions</a>
              <a href="/mutual_funds">Mutual Funds</a>
              <a href="/learning">Learning</a>
              <a href="/research_reports">Research Reports</a>
              <a href="/money">Money Mgt.</a>
              
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
              </a>
          </div>

          <div class="right_top_icons">
          <a href="#"><img src="images/download_icon.svg"/></a>
          <a href="#" class="notification_icon"><img src="images/notification_icon.svg"/><span>1</span></a>
          <a href="/profile" class="profile_pic"><img src="images/profile_pic.svg"/></a>
          </div>

        </div>	
      </div>
  </div>

  <div class="container-fluid" style="padding-right: 15px !important;padding-left: 15px !important;">
  <div class="row">
      <div class="col-md-4 dashboard_left_bar">

          <div class="dashboard_left_row_dat">
              <form class="secrch_bar">
                  <i class="fas fa-search"></i> <input type="text" placeholder="Search eg. infy bse, nifty fut weekly, gold mcx ">
              </form>
          </div>

          <div class="dashboard_left_row_dat">
              <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
          </div>

          <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
              <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
          </div>

          <div class="dashboard_left_row_dat">
              <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
          </div>

          <div class="dashboard_left_row_dat">
              <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
          </div>
          <div class="dashboard_left_row_dat">
              <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
          </div>

          <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
              <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
          </div>

          <div class="dashboard_left_row_dat">
              <h2><span class="list_head">GOLDBEES </span> <span class="list_percentage">0.47% </span><span class="list_arrow"><i class="fas fa-chevron-up"></i></span>  <span class="list_last_spn">42.99</span></h2>
          </div>

          <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
              <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
          </div>

          <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
              <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
          </div>

          <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
              <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
          </div>

          <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
              <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
          </div>

          <div class="dashboard_left_row_dat dashboard_left_row_dat_red">
              <h2><span class="list_head">HDFCBANK </span> <span class="list_percentage">-0.79%</span> <span class="list_arrow"><i class="fas fa-chevron-down"></i></span>  <span class="list_last_spn">1492.00</span></h2>
          </div>
      </div>


      <div class="col-md-8 dashboard_right_bar">
            <div class="dash_top">
                <a href="#"><img src="images/view_reports.svg"/>View Reports</a>
                <a href="#"><img src="images/download_btn.svg"/>Download</a>
            </div>

            <div class="table_sec">
                  <div class="serch_top_bar">
                        <h2>Positions <span>(1)</span></h2>

                        

                        <form class="secrch_bar_right">
                            <input type="text" placeholder="Search"> <i class="fas fa-search"></i>
                        </form>
                  </div>

                  <table class="table table_holding table_holdings">
                      <thead>
                        <tr>
                          <th scope="col"><input type="checkbox"/></th>
                          <th scope="col">Product</th>
                          <th scope="col">Instrument</th>
                          <th scope="col">Qty.</th>
                          <th scope="col">Avg.</th>
                          <th scope="col">LTP</th>
                          <th scope="col">P&L</th>
                          <th scope="col">Chg.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type="checkbox"/></td>
                          <td><span class="position_table_spn">MIS</span></td>
                          <td>INFY NSE</td>
                          <td>1</td>
                          <td>1,339.45</td>
                          <td>1,347.45</td>
                          <td><span class="holding_color_green">+6.30%</span></td>
                          <td><span class="holding_color_green">0.47%</span></td>
                        </tr>

                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>Total</td>
                          <td><span class="holding_color_green">+6.30%</span></td>
                          <td></td>
                        </tr>


                      
                      </tbody>
                    </table>

            </div>


              

            <div class="dash_top">
              <h2>INFY (MIS)</h2>
              <a href="#"><img src="images/download_btn.svg"/>Download</a>
          </div>

            <div class="table_sec">
              <div class="serch_top_bar">
                    <h2>Days History <span>(1)</span></h2>

                    

                    <form class="secrch_bar_right">
                        <input type="text" placeholder="Search"> <i class="fas fa-search"></i>
                    </form>
              </div>

              <table class="table table_holding table_holdings">
                  <thead>
                    <tr>
                      <th scope="col"><input type="checkbox"/></th>
                      <th scope="col">Product</th>
                      <th scope="col">Instrument</th>
                      <th scope="col">Qty.</th>
                      <th scope="col">Avg.</th>
                      <th scope="col">LTP</th>
                      <th scope="col">P&L</th>
                      <th scope="col">Chg.</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="checkbox"/></td>
                      <td><span class="position_table_spn">MIS</span></td>
                      <td>INFY NSE</td>
                      <td>1</td>
                      <td>1,339.45</td>
                      <td>1,347.45</td>
                      <td><span class="holding_color_green">+6.30%</span></td>
                      <td><span class="holding_color_green">0.47%</span></td>
                    </tr>

                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Total</td>
                      <td><span class="holding_color_green">+6.30%</span></td>
                      <td></td>
                    </tr>


                  
                  </tbody>
                </table>

        </div>


        <div class="dash_top position_bar">
          <h2>Breakdown</h2>
        </div>

        <div class="position_p_bar">
            <div class="position_p_bar_inner">
              <p>INFY (MIS)</p>
              <span></span>
            </div>
            
        </div>


      </div>
  </div>
  </div>

<%- include("partials/footer") %>